a:link {
    background-color: tomato;
    font-family: 'Courier New', Courier, monospace;
}

a:visited {
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif
}

a:hover {
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a:sctive {
    background-color: lime;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.1rem;
}